
body{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #070e1e;
    color: white;
}

.logo{
    text-align: center;
    background-color: #070e1e;
    width: 100%;
    height: 16em;
}
.logo .nav a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left:.3em ; 
    padding-right: .3em;   
}
.logo nav{
    display: flex;
}
.logo .nav a:hover{
    background: #b60213; 
    transition: ease all  0.5s;
}
.logo .nav a:focus{
    background: #b60213; 
}
.title h1{
    font-family:cursive;
    font-weight: bold;
    font-size: 1em;
}
.title{
    text-align: center;
}
.title p {
    color: white;
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: bold;
}
.title img{
    margin-top: 1em;
    width: 100%;
}
.title a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 1em;
    padding: .5em;  
    background: #b60213; 
    margin-bottom: 1em;
}
.event_title{
    margin-top: 2em;
    font-size: 2em;
    color: white;
    margin-left: 1em;
}
.event_title{
    padding-bottom: 1em;
}
.event_div{
    display: flex;
    width: 100%;
} 
.event_div img{
    height: 10em;
    width: 12em;
    border-radius: 2em;
}
.event_div h3{
    color: white;
    font-size: larger;
}
.event_div_1{
    display: block;
}
.event_div a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 1em;
    padding: .5em;  
    background: #b60213; 
}
.event_div p{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
.event_div span{
    color:#b60213 ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.event_div div{
    text-align: center;
}
.event_title span{
    color:#b60213 ;
}

.madha_logo{
    width: 21em;
    height:7em;
}
.zhr_logo{
    margin-top: 1em;
    width: 7em; 
    height: 7em;
    margin-left: 0; 
 }
 .event_div_1{
    padding-top: 2em;
 }




