
body{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image:url("bg.jpg") ;
    /* background-color: #070e1e; */
    color: white;
}

.logo{
    margin-top: 2em;
    text-align: center;
    width: 100%;
    height: 16em;
}
.logo .nav a{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    }
.logo nav{
    display: flex;
}
.logo .nav a:hover{
    background: #00008B; 
}
.logo .nav a:focus{
    background: #00008B; 
}
.title h1{
    font-family:cursive;
    font-weight: bold;
    font-size: 1em;
}
.title{
    margin-top: 1em;
}
.title p {
    color: white;
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: bold;
}
.title img{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 15em;
}
.title a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 1em;
    padding: .5em;  
    background: #00008B; 
}
.event_title{
    margin-top: 1em;
    font-size: 2em;
    color: white;
    margin-left: 1em;
}
.title{
    text-align: center;
}
.title img{
    width: 12em;
    height: 10em;
    border-radius: 1em;
}
.event_title{
    font-family:cursive;
    color: #e700a1;
    font-size: 2.5em;
}
.event_div{
    display: flex;
    width: 100%;
} 
.event_div img{
    height: 10em;
    width: 12em;
    border-radius: 2em;
}
.event_div h3{
    color: white;
    font-size: larger;
}
.event_div_1{
    display: block;
}
.event_div a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 1em;
    padding: .5em;  
    background: #00008B; 
}
.event_div p{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.event_div div{
    text-align: center;
}
.event_title span{
    color:#b60213 ;
}

.madha_logo{
    width: 21em;
    height:7em;
}
.zhr_logo{
    margin-top: .2em;
    width: 12em; 
    height: 6em;
    margin-left: 0; 
 }

 .btn{
    margin-top: 10em;
 }
 .pp_body{
    background-image: url(bg.jpg);
 }
 .back_btn{
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    background: #00008B; 
 }
 .back_btn_div{
    text-align: center;
 }
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
      .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    color: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    background-color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .s-media{
    text-align: center;
    margin-top: 1em;
  }
  .s-media a{
    border-radius: 1em;
  }



